
  <h2>Login</h2>

  <form novalidate action="/auth/login" method="POST">
    <div class="form-group">
      
    <label for="email" class="form-label"> Email</label>
    <input id="email" type="email" name="email" class="form-control" placeholder="JSnow@thewall.com" required/>
 
    <label for="password" class="form-label"> Password</label>
    <input id="password" type="password" name="password" class="form-control" placeholder="********" required/>
 
    <button type="submit">Login</button>
 

    </div>

  </form>


  /* Bootstrap Validator for Input */

  <script>
    const form = document.querySelector("form");
    form.addEventListener("submit", event =>{
      if(!form.checkValidity()){
        event.preventDefault()
      }

      form.classList.add("was-validated");

    })
  </script>