<h2>Edit a review!</h2>

<form action="/review/{{review._id}}/edit" method="POST">

<br>
    <label for="comment"> Comment:</label>
    <input type="textarea" name="comment" value="{{review.comment}}">
<br>
    <label for="stars"> Stars:</label>
    <input type="text" name="stars" value="{{review.stars}}">
<br>
    <button type="submit">Edit!</button>
<br>
    <a href="/review/own-reviews">Back to the reviews?</a>

</form>




