body{
  overflow: unset;
  height: 1500px;}

a {
  color: #00b7ff;
}

h1 {
  color: 15px;
}


/* Navigation */ 

#sticky {
  display: sticky;
}

.nav-container {
  top: 0;
  position: sticky;

  width: 100%;
}

.navbar-nav > li{
  padding-left:20px;
  padding-right:20px;
}


.navbar-brand{
  padding-left: 1%;
}

/* Gallery of Images */

#title-gallery{
  margin: 2% 39%;
  font-size: 50px;
}

.col{ 
  margin:1%;
}


/* profile */

/* log in */

.form-group{
  margin: 2% 35%;
}

.form-group button{
  margin-top: 2%;
}

.form-group label{
  margin-top: 2%;
}