@import url('https://fonts.googleapis.com/css2?family=Overpass&display=swap');


*{
  font-family: 'Overpass', sans-serif;

}

body{
  overflow: unset;
  ;}

a {
  color: #00b7ff;
}

h1 {
  color: 15px;
}


/* Navigation */ 


.nav-container {
  top: 0;
  position: sticky;

  width: 100%;
  z-index: 500;

}

.navbar-nav > li{
  padding-left:20px;
  padding-right:20px;
}


.navbar-brand{
  padding-left: 1%;
}


nav{
  background-color: black;
}

.btn-logout{
  color:white;
}

/* Gallery of Images */



#title-gallery{
  font-size: 3rem;
}

.col{ 
  margin:1%;
}

.card >img{
  height: 20rem;
}

.card >h3{
  font-size: 1.5rem;
  text-align: center;
}

.card >h5{
  font-size: 1rem;
  text-align: center;
  font-weight: 400;
}

/* profile */

/*log in / sign up*/

.login {
  min-height: 100vh;
  padding: 0%;
}

.bg-image {
  background-image: url('https://pbs.twimg.com/media/FEgSxSnVgAQ3GYy?format=jpg&name=4096x4096');
  background-size: cover;
  background-position: center;
}

.login-heading {
  font-weight: 300;
}



.bg-image-sign-up {
  background-image: url('https://i2-prod.glasgowlive.co.uk/incoming/article16469293.ece/ALTERNATES/s615/0_fans-spotted-a-coffee-cup-sitting-on-a-table-during-a-new-game-of-thrones-feast-scene__26215_.png');
  background-size: cover;
  background-position: center;
}