<div class="container mt-4">
  <form novalidate action="/restaurant/create" method="POST">
    <h2>Create a restaurant!</h2>

    <div class="row">
      <div class="col">
        <label for="name" class="form-label"> Name</label>
        <input id="name" type="text" name="name" class="form-control" placeholder="King's Landing Best Tavern" required/>
      </div>
    </div>

    <div class="row">
      <div class="col">
        <label for="cuisine" class="form-label"> Cuisine</label>
    <input id="cuisine" type="text" name="cuisine" class="form-control" placeholder="Only the worst wine" required/>
      </div>
    </div>

    <div class="row">
      <div class="col">
       <label for="image" class="form-label">Add Image</label>
    <input id="image" type="text" name="password" class="form-control" placeholder="Link Goes Here" required/>
      </div>
    </div>
    <div class="row ">
      <div class="col mt-2">
        <button class="btn btn-sm btn-dark  text-uppercase fw-bold mb-2" type="submit">Create New Restaurant</button>
      </div>
    </div>
  </form>
</div>
